<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


</head>
<body>

<div class="p-3">
    <h2 class="text-center fw-bold text-light my-3">DANH SÁCH KHÁCH HÀNG</h2>

    <p class="text-center">
        <a th:href="@{/}"><i class="fa-solidi fa-backward"></i> Quay lại trang chủ</a>
    </p>

    <div th:if="${message}">
        <div class="justify-content-center d-flex">
            <div class="alert alert-success alert-dismissible fade show w-50 text-center">
                <strong th:text="${message}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg py-0 my-0">
        <div class="container-fluid">
            <a th:href="@{/customer/create}">
                <button class="btn btn-primary btn-outline-secondary btn-sm">
                    <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
                    <span class="text-light"> Thêm mới khách hàng</span>
                </button>
            </a>

            <form class="d-flex my-2" role="search" th:action="@{/customer}">
                <input class="form-control me-2" type="text" placeholder="Nhập tên.." aria-label="Search"
                       name="nameSearch">

                <input class="form-control me-2" type="text" placeholder="Nhập email.." aria-label="Search"
                       name="emailSearch">

                <select class="form-control me-2" name="customerType">
                    <option value="">All Type</option>
                    <option th:each="type : ${customerTypeList}" th:value="${type.customerTypeId}" th:text="${type.customerTypeName}"></option>
                </select>

                <button class="btn btn-light btn-outline-primary" type="submit" name="action" value="search">
                    <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </nav>

    <table class="table table-light table-striped table-bordered">
        <tr class="table-dark text-light">
            <th class="text-center"><i class="fa-sharp fa-solid fa-bolt"></i></th>
            <th>Tên khách hàng</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Loại khách</th>
            <th class="text-center">Xem</th>
            <th class="text-center">Sửa</th>
            <th class="text-center">Xóa</th>
        </tr>

        <tr th:each="customer, status : ${customerList}">
            <td class="text-center" th:text="${status.count + customerList.number * 5}"></td>

            <td th:text="${customer.customerName}"></td>

            <td th:text="${customer.customerBirthday}"></td>

            <td th:if="${customer.customerGender==0}" th:text="Nữ"></td>
            <td th:if="${customer.customerGender==1}" th:text="Nam"></td>
            <td th:if="${customer.customerGender==2}" th:text="LGBT"></td>

            <td th:text="${customer.customerPhone}"></td>

            <td th:text="${customer.customerAddress}"></td>

            <td th:text="${customer.customerType.customerTypeName}"></td>

            <td class="text-center">
                <button th:attr="onclick=|viewCustomer('${customer.customerName}', '${customer.customerBirthday}',
                '${customer.customerGender}', '${customer.customerIdCard}', '${customer.customerPhone}',
                '${customer.customerEmail}', '${customer.customerAddress}',
                '${customer.customerType.customerTypeName}')|"
                        class="btn btn-warning btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#viewCustomer">
                    <span class="fa-solid fa-user text-light h6 m-auto px-2"></span>
                </button>
            </td>

            <td class="text-center">
                <a th:href="@{/customer/edit/__${customer.customerId}__}">
                    <button class="btn btn-success btn-outline-secondary btn-sm">
                        <span class="fa-solid fa-user-pen text-light h6 m-auto px-2"></span>
                    </button>
                </a>
            </td>

            <td class="text-center">
                <button th:attr="onclick=|deleteCustomer('${customer.customerId}', '${customer.customerName}')|"
                        class="btn btn-danger btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteCustomer">
                    <span class="fa-solid fa-person-circle-minus text-light h6 m-auto px-2"></span>
                </button>
            </td>
        </tr>
    </table>

    <nav aria-label="..." class="justify-content-center d-flex">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{'/customer'(page=${customerList.number - 1}, nameSearch=${nameSearch},
                emailSearch=${emailSearch})}" th:if="${customerList.hasPrevious()}">
                    &laquo;</a>
            </li>
            <li class="page-item disabled" th:unless="${customerList.hasPrevious()}">
                <a class="page-link">&laquo;</a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{'/customer'(page=${customerList.number - 1},
            nameSearch=${nameSearch}, emailSearch=${emailSearch})}"
                                     th:if="${customerList.hasPrevious()}" th:text="${customerList.number}"></a></li>

            <li class="page-item active">
                <a class="page-link" th:href="@{'/customer'(page=${customerList.number}, nameSearch=${nameSearch},
                emailSearch=${emailSearch})}" th:text="${customerList.number + 1}">
                    <span class="sr-only">(trang hiện tại)</span></a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{'/customer'(page=${customerList.number + 1},
            nameSearch=${nameSearch}, emailSearch=${emailSearch})}"
                                     th:if="${customerList.hasNext()}" th:text="${customerList.number + 2}"></a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="@{'/customer'(page=${customerList.number + 1}, nameSearch=${nameSearch},
                emailSearch=${emailSearch})}"
                   th:if="${customerList.hasNext()}">&raquo;</a>
            </li>
            <li class="page-item disabled" th:unless="${customerList.hasNext()}">
                <a class="page-link">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalCSS">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/customer/delete}">
                <div class="modal-body">
                    <span class="h6">Khách hàng:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="idDelete" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="viewCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalCSS">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="exampleModalLabel2">THÔNG TIN KHÁCH HÀNG</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td class="h6 pe-3">Tên khách hàng:</td>
                        <td id="name" class="text-primary h6"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Ngày sinh:</td>
                        <td id="birthday" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Giới tính:</td>
                        <td id="gender" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Số CMND/CCCD:</td>
                        <td id="idCard" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Số điện thoại:</td>
                        <td id="phone" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Email:</td>
                        <td id="email" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Địa chỉ:</td>
                        <td id="address" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Loại khách:</td>
                        <td id="type" class="text-primary"></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
        debugger
    }

    function viewCustomer(name, birthday, gender, idCard, phone, email, address, type) {
        document.getElementById("name").innerText = name;
        document.getElementById("birthday").innerText = birthday;
        if (gender == 0) {
            document.getElementById("gender").innerText = "Nữ";
        } else if (gender == 1) {
            document.getElementById("gender").innerText = "Nam";
        } else {
            document.getElementById("gender").innerText = "LGBT";
        }
        document.getElementById("idCard").innerText = idCard;
        document.getElementById("phone").innerText = phone;
        document.getElementById("email").innerText = email;
        document.getElementById("address").innerText = address;
        document.getElementById("type").innerText = type;
        debugger
    }
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
</script>
</html>