<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${mess}"></h1>
<p>Tìm trả sách(Nhập mã sách):</p>
<form method="get" action="/pay">
    <input th:name="codeBook" type="text">
    <button>Tìm sách</button>
</form>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Title</th>
        <th>Content</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, status : ${listBook}">
        <td th:text="${status.count}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.content}"></td>
        <td th:text="${book.quantity}"></td>
        <td><a th:href="@{/view/__${book.id}__}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>